numpy>=1.22.4,<1.24.0
pandas>=1.4.0,<2.1.0
scipy>=1.6.2,<2.0.0
geopandas==0.14.4
shapely>=1.7.0
folium>=0.12.0
streamlit>=1.10.0
streamlit-folium>=0.5.0
matplotlib>=3.4.0,<4.0.0
duckdb>=0.7.1  # Add this line